@model Domain.Domain_Models.Employee

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>
<a class="btn btn-info" asp-action="AddAppointment" asp-route-id="@Model.Id">Add appointment</a>
<div>
    <h4>Employee</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Company)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Company.Id)
        </dd>
    </dl>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Description
            </th>
            <th>
                DateTaken
            </th>
            <th>
                Polyclinic ID
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewData["Exams"] as List<Domain.Domain_Models.HealthExamination>)
        {
            <tr>
                <td>
                    @item.Description
                </td>
                <td>
                    @item.DateTaken
                </td>
                <td>
                    @item.PolyclinicId
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
