@model Domain.Domain_Models.Polyclinic

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Polyclinic</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PolyclinicName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PolyclinicName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PolyclinicAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PolyclinicAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reputation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reputation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AvailableSlots)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AvailableSlots)
        </dd>
    </dl>
</div>


<table class="table">
    <thead>
        <tr>
            <th>
                Description
            </th>
            <th>
                DateTaken
            </th>
            <th>
                Employee
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewData["Exams"] as List<Domain.Domain_Models.HealthExamination>)
        {
            <tr>
                <td>
                    @item.Description
                </td>
                <td>
                    @item.DateTaken
                </td>
                <td>
                    @item.EmployeeId
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
