@model ICollection<Lab1.Web.Models.Domain.TheaterShow>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<div class="container">

<div class="btn btn-success">
    <a asp-action="Create">Create New</a>
</div>
      
    @for(int i = 0; i< Model.Count; i++)
    {
        var item = Model.ElementAt(i);
        if(i % 4 == 0)
        {
            @:<div class="row">
        }
        <div class="col md-5">

            <div class="card" style="width: 18rem; height: auto; max-height: 50rem">
                <img class="card-img-top" src="@item.ImageUrl" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@item.Title</h5>
                    <p class="card-text" style="height: 10rem; overflow: auto">@item.Description</p>
                    <h6>Place: @item.Place</h6>
                    <h6>Date: @item.ShowDate</h6>
                </div>
                <div class="card-footer">
                    <a asp-controller="TheaterShows" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-info">Edit</a>
                    <a asp-controller="TheaterShows" asp-action="BuyTicket" asp-route-id="@item.Id" class="btn btn-info">Purchase tickets!</a>
                </div>

            </div>
        </div>
            
        if(i % 4 == 3 || i == Model.Count - 1)
        {
            @:</div>
        }

    }
    

</div>


